
// break points
$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;
$layout-breakpoint-xxl: 1400px;


// colors
$blue__color: #232F3E;
$orange__color: #FCBB6A;
$light-blue__color: #37475A;
$dark-blue__color: #131921;

