@import "./variables.scss";



.nav{
    font-family: 'Roboto', sans-serif;
    background-color: $blue__color;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lineOne {
        height: 50px;
        .menu{
            margin-top: -5px !important;
            .menuButton{
                width: 20px;
                height: 18px;
                background-image: url("../icons/new-nav-sprite-global-1x_blueheaven-fluid._CB406836994_.png");
                background-position-x: -20px;
                background-position-y: -378px;
                
                                                    
            }
            .menuButton:hover {
                cursor: pointer;
            }
        }
        .logo{
            // height: 50px;
           
            display: flex;
            align-items: center;
            .logoIcon {
                width: 86px;
                height: 28px;
                background-image: url("../icons/new-nav-sprite-global-1x_blueheaven-fluid._CB406836994_.png");
                background-position-x: -8px;
                background-position-y: -49px;
                
            }
            .logoIcon:hover {
                cursor: pointer;
            }
        
            
        }
        
        
        
        .log {
            padding: 0px;
            font-size: 14px;
        
        }
        .log:hover {
            cursor: pointer;
        }
        .basket{
            .basketButton {
                width: 41px;
                height: 29px;
                background-image: url("../icons/new-nav-sprite-global-1x_blueheaven-fluid._CB406836994_.png");
                background-position-x: -8px;
                background-position-y: -240px;

            }
            
        }
        .basket:hover  {
            cursor: pointer;
        }
    }    
    .search {
        height: 40px;
        border-radius: 10px 10px 10px 10px;
        background-color: #ffffff;
        .searchInput{
        //    width: 368px;
            outline: none;
            border: none;
            border-radius: 10px 10px 10px 10px;
            justify-content: center;
            
        }
        
        .searchIcon{
            right: 0px;
            position: absolute;
            width: 40px;
            border-radius: 10px 10px 10px 10px;
            background-color: $orange__color;
            
            
        
        }
        .searchIcon:hover {
            cursor: pointer;
        }
       
        
        
    }
    
    .feature {
        // display: flex;
        overflow: auto;
        white-space: nowrap;
        .featureButton {
            display: inline-block;
            color: #ffffff;
            text-align: center;        
            padding: 10px 15px 5px 15px;
            text-decoration: none;
            font-size: 13px;
            font-weight: 500;
            // border: 1px solid white;
        
        }
        .featureButton:hover {
            cursor: pointer;
        }
    
    }

    .unknown{
        text-align: center;
        width: 100%;
        height: 5vh;
        line-height: 5vh;
        background-color: $light-blue__color;
        font-size: 14px;

    }
    
   
}




@media (min-width:$layout-breakpoint-md) {
    .nav{
        background-color: $dark-blue__color;  
        .lineOne {
            
            .menu{
                display: none;
            }
            .logo{             
                display: flex;
                align-items: center;
                .logoIcon {
                    width: 86px;
                    height: 28px;
                    background-image: url("../icons/new-nav-sprite-global-1x_blueheaven-fluid._CB406836994_.png");
                    background-position-x: -8px;
                    background-position-y: -49px;
                    
                }
                .logoIcon:hover {
                    cursor: pointer;
                }
            
                
            }
            
            
            
            .log {
                padding: 0px;
                font-size: 14px;
            
            }
            .log:hover {
                cursor: pointer;
            }
            .basket{
                .basketButton {
                    width: 41px;
                    height: 29px;
                    background-image: url("../icons/new-nav-sprite-global-1x_blueheaven-fluid._CB406836994_.png");
                    background-position-x: -8px;
                    background-position-y: -240px;
    
                }
                
            }
            .basket:hover  {
                cursor: pointer;
            }
        }    
        .search {
            height: 40px;
            border-radius: 10px 10px 10px 10px;
            background-color: #ffffff;
            .searchInput{
            //    width: 368px;
                outline: none;
                border: none;
                border-radius: 10px 10px 10px 10px;
                justify-content: center;
                
            }
            
            .searchIcon{
                right: 0px;
                position: absolute;
                width: 40px;
                border-radius: 10px 10px 10px 10px;
                background-color: $orange__color;
                
                
            
            }
            .searchIcon:hover {
                cursor: pointer;
            }
           
            
            
        }
        
        .feature {
            // display: flex;
            overflow: auto;
            white-space: nowrap;
            .featureButton {
                display: inline-block;
                color: #ffffff;
                text-align: center;        
                padding: 10px 15px 5px 15px;
                text-decoration: none;
                font-size: 13px;
                font-weight: 500;
                // border: 1px solid white;
            
            }
            .featureButton:hover {
                cursor: pointer;
            }
        
        }
    
        .unknown{
            text-align: center;
            width: 100%;
            height: 5vh;
            line-height: 5vh;
            background-color: $light-blue__color;
            font-size: 14px;
    
        }
        
       
    }


    
}
