.container1 {
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    .item {
        grid-column-start: 1;
        grid-column-end: span 12;
        .item1{
            grid-column-start: 1;
            grid-column-end: span 31213;
        }
    }
}